header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}
a{
    text-decoration: none;
}
.logo{
    width: 150px;
    border: 0;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 20px 0 0 0;
}
.navigator{
    color: #000;
    font-weight: bold;
    padding: 0 10px 20px 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
.navigator:hover, .active{
    border-bottom: 3px solid #000;
    padding-bottom: 17px;
}
.toggle-nav{
    padding: 3px 6px;
    margin: 16px 0;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    display: none;
}
@media only screen and (max-width:630px){
    .section-title{
        text-align: center;
        padding: 20px 0;
    }
    nav{
        display: none;
    }
    .navigator, .active{
        font-size: 14px;
        padding-bottom: 0;
    }
    .toggle-nav{
        display: block;
    }
    .openNav{
        display: block;
    }
}
.open{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    padding: 0 0 10px 0;
    top: 61px;
    right: 0;
    left: 0;
    box-shadow: 2px 2px 2px  #aaa;
}
.open>.navigator, .open>.active{
    font-size: 14px;
    padding-bottom: 0;
}
.nav-container{
    display: flex;
    flex-direction: column;
}